/* Classes de police */
.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;}

/* <weight>: Use a value from 100 to 900 */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;}

* {color: #cac49f;}

h1, h2, ul {
    font-family: "Patrick Hand", cursive;
    font-size: 1.5em;
    text-align: center;}

p {font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-size: 1em;}

header div {
    font-family: "Montserrat", sans-serif;
    padding: 2%;
    background-image: linear-gradient(to bottom, rgba(9, 10, 5, 0.9) 0%, rgba(9, 10, 5, 0.7) 50%, rgba(9, 10, 5, 0) 100%);
    border-radius: 45%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {background-color:#090a05;}

@media screen and (min-width: 768px) {
    body {
    background-image: url("edition IMAGES/gwak_main.jpg");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center top;
    }
}
    
/* Media query pour les écrans PC */
@media screen and (min-width: 768px) {
    p, h1, h2, ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
  }
}